.kegiatan-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 80px 10%;
    font-family: arial, sans-serif;
    gap: 60px;
}

.kegiatan-kiri{
    flex: 1;
    max-width: 600px;
}

.judul-biru{
    color: blue;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-untuk-berpindah-halaman{
    background-color: red;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
  transition: opacity 0.2s;
}

.btn-untuk-berpindah-halaman:hover{
    opacity: 0.9;
}

.ig-card{
    flex: 1;
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(red, green, blue, alpha);
}

.image.icon-digi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.ig-header-kiri{
    display: flex;
    align-items: center;
    gap: 12px;
}

.ig-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid #eaeaea;
}

.nama-ig{
    font-weight: bold;
    color: #262626;
    font-size: 0.95rem;
}


.gamabr-kegiatan-img{
    width: 100%;
    border-radius: 8px;
    display: block;
}

.icon-dibawah-gambar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;
}

.left-icon{
    display: flex;
    gap: 16px;
}

.ig-details{
margin-top: 5px;
}

.ig-likes{
    font-weight: 700;
    color: #262626;
    font-size: 0.95rem;
    margin-bottom: 5px;
}

.ig-caption{
    font-size: 0.95rem;
    color: #262626;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #8e8e8e;
}

.ig-caption strong{
    color: #262626;
    margin-right: 5px;
}

.ig-date{
    font-size: 0.75rem;
    color: #8e8e8e;
    margin-top: 5px;
}
